.spellList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.spellListWrapper {
  width: 82.5%;
  overflow: auto;
  background-color: #ece5d7;
}

.spellListWrapper::-webkit-scrollbar {
  background: #ece5d7;
}

.spellListWrapper::-webkit-scrollbar-thumb {
  background: #f4f0e8;
  border-radius: 10px;
}
